@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'CustomFont';
    src: url('/fonts/font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
    body {
        @apply antialiased;
    }
    h1,
    h2,
    h3,
    p,
    span,
    button {
        font-family: 'CustomFont', sans-serif;
    }
    .bg-image {
        object-fit: contain;
    }
    header {
        padding-bottom: 0 !important;
        margin-bottom: -30px;
    }
    img.w-full.mobile-mockup {
        width: 70%;
        margin: auto;
        padding-left: 50px;
    }
    .mobile-content {
        width: 80%;
        margin: auto;
        font-weight: bold;
    }
    .mobile-text {
        width: 481px;
    font-size: 5.1rem;
    }
    .mobile-text h2 {
        font-size: 6vw;
    }
    .text-white {
        color: white !important;
    }
    .text-blue {
        color: #1f2a45 !important;
    }
    .test-title {
        height: 60px;
        overflow: hidden;
    }
    .sub-heading {
        font-size: 29px;
    }
    .header-logo {
        width: 238px;
        height: 96px !important;
    }
    .test-description {
        height: 76px;
    }
    /* Media Queries for Mobile Phones (Portrait) */
@media screen and (max-width: 480px) {
    header {
        display: flex !important;
            flex-direction: row !important;
            margin-bottom: 30px;
    }
    .header-logo {
        width: 128px;
        height: 46px !important;
    }
    .text-\[64px\] {
        font-size: 44px !important;
    }
    .text-\[72px\] {
        font-size: 54px !important;
    }
    img.w-full.mobile-mockup {
        width: 90%;
        margin-right: 0px;

    }
  }
  
  /* Media Queries for Mobile Phones (Landscape) */
  @media screen and (min-width: 481px) and (max-width: 767px) {
    header {
        display: flex !important;
            flex-direction: row !important;
            margin-bottom: 30px;
    }
    #root > div > section.flex.flex-col.md\:flex-row.justify-between.items-center.max-w-7xl.mx-auto.px-4.md\:px-8 > div.relative.w-full.md\:w-auto.overflow-hidden > img {
        margin: auto;
    }
    .mobile-content {
        margin: 0;
        padding: 0;
    }
    
    img.w-full.mobile-mockup {
        width: 50%;
    }
    
    
    .mobile-content {
        width: 60% !important;
        margin-left: 120px;
    }
  }
  
  /* Media Queries for Tablets */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    img.w-full.mobile-mockup {
        width: 90%;
        margin-left: 80px;
    }
    .md\:text-8xl {
        font-size: 4rem !important;
        line-height: 1;
    }
    .mobile-section {
        flex-direction: column !important;
    }
  }
  
  /* Media Queries for Laptops and Small Desktops */
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
   
  }
  
  /* Media Queries for Large Desktops and Monitors */
  @media screen and (min-width: 1280px) {
   
  }
}